body, header, div, p, h1, h2, h3, h4 {
   margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Merriweather', "Times New Roman", serif;
}
header h1, header h2 {
    color: white;
}
header h1 {
    font-size: 48px;
}
header h2 {
    font-size: 36px;
}
header span {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    width: 160px;
    padding: 9px;
    border: solid 1px white;
}
header span a:link, header span a:visited {
    color: white;
}
     
     
/* Layout Task 1 */
header {
    position: relative;
}

.banner--title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}


/* Layout Task 2 */
.highlights {
    overflow: hidden;
    width: 1170px;
    margin: 20px auto;
}

.highlights--container {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 20px;
}


.highlights--container:last-child {
    margin-right: 0;
}

.highlights--media {
    float: left;
    margin-right: 15px;
}

.highlights--text {
    overflow: hidden;
}

.highlights--button {
    float: right;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 10px;
}


/* Layout Task 3 */
.mosaic {
    position: relative;
    width: 1170px; /* Calculation: 285*4 + 10*3 = 1170px */
    height: 1000px; /* Manually specify height to accommodate absolute positioned children */
    margin: 20px auto;
}

.mosaic-item {
    position: absolute;
}

/* Ensure the image fills the positioned div */
.mosaic-item img {
    width: 100%;
    height: 100%;
    display: block;
}

/* --- Row 1 (Top) --- */

/* Mosaic A: Top-left large image (spans 2 columns, 2 row units) */
/* Dimensions calculation: Width = 285*2 + 10 = 580, Height = 190*2 + 10 = 390 */
.mosaic--a {
    top: 0;
    left: 0;
    width: 580px;
    height: 390px;
}

/* Mosaic B: Top-middle (single column, single row) */
.mosaic--b {
    top: 0;
    left: 590px;
    width: 285px;
    height: 190px;
}

/* Mosaic C: Bottom-middle (single column, single row) - Positioned below B */
.mosaic--c {
    top: 200px; /* 190 + 10 */
    left: 590px;
    width: 285px;
    height: 190px;
}

/* Mosaic D: Top-right tall image (single column, spans 2 row units) */
.mosaic--d {
    top: 0;
    left: 885px;
    width: 285px;
    height: 390px;
}

/* --- Row 2 (Middle) --- */
/* Starting Y coordinate: 390 + 10 = 400px */

/* Mosaic E: Left-middle tall image (single column, spans 2 row units) */
.mosaic--e {
    top: 400px;
    left: 0;
    width: 285px;
    height: 390px;
}

/* Mosaic F: Middle-left small image */
.mosaic--f {
    top: 400px;
    left: 295px;
    width: 285px;
    height: 190px;
}

/* Mosaic G: Middle-right small image */
.mosaic--g {
    top: 400px;
    left: 590px;
    width: 285px;
    height: 190px;
}

/* Mosaic H: Right-middle tall image */
.mosaic--h {
    top: 400px;
    left: 885px;
    width: 285px;
    height: 390px;
}

/* --- Row 3 (Bottom) --- */

/* Mosaic J: Bottom-middle large image (Note: Sequence might be I, J, K, but J is the large one based on layout) */
/* Positioned below F and G. Starting Y: 400 + 190 + 10 = 600px */
.mosaic--j {
    top: 600px;
    left: 295px;
    width: 580px;
    height: 390px;
}

/* Mosaic I: Bottom-left small image - Positioned below E */
/* Starting Y: 400 + 390 + 10 = 800px */
.mosaic--i {
    top: 800px;
    left: 0;
    width: 285px;
    height: 190px;
}

/* Mosaic K: Bottom-right small image - Positioned below H */
/* Starting Y: 400 + 390 + 10 = 800px */
.mosaic--k {
    top: 800px;
    left: 885px;
    width: 285px;
    height: 190px;
}